@using tl2_tp10_2023_JavvG.ViewModels

@{
    ViewData["Title"] = "Tareas";
}

@model ListarTareasViewModel

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col" colspan=8>Tareas creadas</th>
            </tr>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">ID Tablero</th>
                <th scope="col">Nombre</th>
                <th scope="col">Descripción</th>
                <th scope="col">Color</th>
                <th scope="col">Estado</th>
                <th scope="col">ID Usuario Asignado</th>
                <th scope="col" colspan=2>Opciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Tarea T in Model.TareasCreadas)
            {
                <tr>
                    <td>@T.Id</td>
                    <td>@T.IdTablero</td>
                    <td>@T.Nombre</td>
                    <td>@T.Descripcion</td>
                    <td>@T.Color</td>
                    <td>@T.Estado</td>
                    @if(T.IdUsuarioAsignado != null)
                    {
                        <td>@T.IdUsuarioAsignado</td>
                    }
                    else 
                    {
                        <td>No tiene</td>
                    }

                    <td>
                        <a class="modificar" asp-controller="Tarea" asp-action="Update" asp-route-idTarea="@T.Id" asp-route-idUsuario="@Model.IdUsuario" asp-route-taskType=1>Modificar</a>
                    </td>
                    <td>
                        <a class="eliminar" asp-controller="Tarea" asp-action="Delete" asp-route-idTarea="@T.Id">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <br>
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col" colspan=8>Tareas asignadas</th>
            </tr>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">ID Tablero</th>
                <th scope="col">Nombre</th>
                <th scope="col">Descripción</th>
                <th scope="col">Color</th>
                <th scope="col">Estado</th>
                <th scope="col">ID Usuario Asignado</th>
                <th scope="col" colspan=2>Opciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Tarea T in Model.Tareas)
            {
                <tr>
                    <td>@T.Id</td>
                    <td>@T.IdTablero</td>
                    <td>@T.Nombre</td>
                    <td>@T.Descripcion</td>
                    <td>@T.Color</td>
                    <td>@T.Estado</td>
                    @if(T.IdUsuarioAsignado != null)
                    {
                        <td>@T.IdUsuarioAsignado</td>
                    }
                    else 
                    {
                        <td>No tiene</td>
                    }
                    
                    <td>
                        <a class="modificar" asp-controller="Tarea" asp-action="Update" asp-route-idTarea="@T.Id" asp-route-idUsuario="@Model.IdUsuario" asp-route-taskType=2>Modificar</a>
                    </td>
                    <td>
                        <a class="eliminar" asp-controller="Tarea" asp-action="Delete" asp-route-idTarea="@T.Id">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="d-grid gap-2 col-6 mx-auto">
    <a asp-controller="Tarea" asp-action="Create" asp-route-idUsuario="@Model.IdUsuario">
        <button class="btn btn-primary boton" type="button">Añadir una nueva tarea </button>
    </a>
</div>

@section Scripts { <partial name="_ValidationScriptsPartial" /> }