@using tl2_tp10_2023_JavvG.ViewModels

@model ListarTareasViewModel

<div class="text-center visionOS-card">
    <h1 class="display-4">Detalles de la tarea</h1>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">ID Tablero</th>
                    <th scope="col">Nombre</th>
                    <th scope="col" class="short-column">Descripción</th>
                    <th scope="col">Color</th>
                    <th scope="col">Estado</th>
                    <th scope="col">ID Usuario Asignado</th>
                    <th scope="col">Opciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.TareaSeleccionada.Id</td>
                    <td>@Model.TareaSeleccionada.IdTablero</td>
                    <td>@Model.TareaSeleccionada.Nombre</td>
                    <td>@Model.TareaSeleccionada.Descripcion</td>
                    <td>@Model.TareaSeleccionada.Color</td>
                    <td>@Model.TareaSeleccionada.Estado</td>
                    @if(Model.TareaSeleccionada.IdUsuarioAsignado != null)
                    {
                        <td>@Model.TareaSeleccionada.IdUsuarioAsignado</td>
                    }
                    else 
                    {
                        <td>No tiene</td>
                    }
                    
                    <td>
                        <a class="modificar" asp-controller="Tarea" asp-action="Update" asp-route-idTarea="@Model.TareaSeleccionada.Id" asp-route-idUsuario="@Model.IdUsuario">Editar</a>
                        <a class="eliminar" asp-controller="Tarea" asp-action="Delete" asp-route-idTarea="@Model.TareaSeleccionada.Id">Eliminar</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="d-grid gap-2">
    <a asp-controller="Tarea" asp-action="Create" asp-route-idUsuario="@Model.IdUsuario">
        <button class="btn btn-primary boton" type="button">Añadir una nueva tarea </button>
    </a>
</div>

@section Scripts { <partial name="_ValidationScriptsPartial" /> }