@using tl2_tp10_2023_JavvG.ViewModels

@{
    ViewData["Title"] = "Modificar tarea";
}

@model ModificarTareaViewModel

<div class="text-center">
    <form asp-controller="Tarea" asp-action="Update" method="post" autocomplete="off">
        <h1 class="display-4">@ViewData["Title"]</h1>
        <div class="mb-3">
            <input hidden asp-for="@Model.Id" value="@Model.Id">
            <input hidden asp-for="@Model.IdTablero" value="@Model.IdTablero">
            <input hidden asp-for="@Model.Nombre" value="@Model.Nombre">
            <input hidden asp-for="@Model.Descripcion" value="@Model.Descripcion">
            <input hidden asp-for="@Model.Color" value="@Model.Color">
            <input hidden asp-for="@Model.IdUsuarioAsignado" value="@Model.IdUsuarioAsignado">

            <label for="estado" class="form-label">Seleccione el nuevo estado</label>
            <select asp-for="@Model.Estado" class="form-control" id="estado">
                @foreach (var estado in Enum.GetValues(typeof(EstadoTarea)))
                {
                    <option value="@estado">@estado</option>
                }
            </select>
            <span asp-validation-for="@Model.Estado" class="text-danger"></span>  
        </div>
        <button type="submit" class="btn btn-primary">Modificar</button>
        <a asp-controller="Tarea" asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </form>
</div>

@section Scripts { <partial name="_ValidationScriptsPartial" /> }